<div class="container">
    <div class="row">
        <h3>Quick search using keywords</h3>
    </div>
      <div class="row">
      <div class="col-sm-12 col-sm-offset-2">
      <form  class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <input class="form-control mr-sm-2 col-sm-10" type="search" name="search" placeholder="Search" ngModel>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </div>
    <div *ngIf="shouldIDisplayResults === true">
        <div *ngFor="let r of results"
            >
            <div>{{r.id}}</div>
            <div>{{r.title}}</div>
            <div>{{r.authors}}</div>
        </div>
    </div>
</div>